<div class="container mt-3">
    <div class="d-flex flex-column gap-3">
      <app-navbar></app-navbar>

      <!-- <app-simple-table></app-simple-table> -->

      <div class="d-flex flex-row gap-3">
        <app-list-group-menu></app-list-group-menu>

        <!-- <div class="flex-grow-1 text-nowrap w-75">
            <app-simple-table></app-simple-table>
        </div> -->
        <div class="w-100">
          <app-simple-table></app-simple-table>
        </div>
      </div>
      
    </div>
  </div>