<div class="container mt-3">
    <div class="d-flex flex-column gap-3">
      <app-navbar></app-navbar>

      <!-- Should be present only if the user is an ADMIN -->
      <div class="w-25">
        <span>Admin options</span>
        <app-list-group-menu></app-list-group-menu>
      </div>

      <div class="w-100">
        <app-simple-table></app-simple-table>
      </div>

      <!-- <div class="d-flex flex-row gap-3"> -->

        <!-- <div class="flex-grow-1 text-nowrap w-75">
            <app-simple-table></app-simple-table>
        </div> -->
      <!-- </div> -->
      
    </div>
  </div>