<div class="container mt-3">
    <app-navbar></app-navbar>

    <p>Friend ID: {{friendId}}</p>

    <div class="d-flex flex-column align-items-center">

        <h4 class="display-6 my-3">Update your friend's information:</h4>
    
        <div class="d-flex justify-content-center w-100">
            <form [formGroup]="form" class="d-flex flex-column w-50 mt-3">
        
                <mat-form-field>
                    <mat-label>First Name:</mat-label>
                    <input matInput type="text" formControlName="firstname">
                    <mat-error>Please enter the first name.</mat-error>
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Last Name:</mat-label>
                    <input matInput type="text" formControlName="lastname">
                    <mat-error>Please enter the last name.</mat-error>
                </mat-form-field>
        
                <mat-form-field>
                    <mat-label>Nickname:</mat-label>
                    <input matInput type="text" formControlName="nickname">
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    @if (form.get('dateOfBirth')?.hasError('required')) {
                        <mat-error>Please enter the date of birth.</mat-error>
                    } @else {
                        <mat-error>The date of birth cannot be in the future. </mat-error>
                    }
                </mat-form-field>
        
                <button mat-flat-button (click)="onSubmit()" [disabled]="form.invalid" class="my-2">Add Friend</button>
            </form>
        </div>
            
            @if (friendAlreadyExists) {
                <div class="alert alert-danger text-center mt-3 w-50">
                    <strong>Error:</strong>A friend named <strong>{{insertedFullname}}</strong> already exists.
                </div>
            }
            
            @if (successfulInsertion) {
                <div class="alert alert-success text-center mt-3 w-50">
                    Your friend, <strong>{{insertedFullname}}</strong>, has been added successfully!
                </div>
                <button mat-flat-button (click)="goBackToMain()" class="mt-3 w-50">Back to Main</button>
            }

    </div>
</div>